 
.coolde-logo {
        width: 5%;
    }

@media only screen and (max-width: 768px) {
    .coolde-logo {
        width: 25%;
    }
  }

  @media only screen and (min-width: 500px) and (max-width: 900px) {
    .coolde-logo {
        width: 20%;
    }
  }