 
.coolde-logo {
        width: 8%;
}

.imagemTeste {
  margin-top: 50px;
}

.imagem-front-end {
  width: 600px;
  margin-top: -200px;
  display: block;
  height: auto;
}

.button-div {
  display: flex;
}

.botao-html {
  background-color: #e34c26;
  color: #000000;
  border: none;
}

.botao-css {
  background-color: #264de4;
  border: none;
}

.botao-javascript {
  background-color: #f0db4f;
  color: #322330;
  border: none;
}

.center {
  text-align: center;
}


@media (min-width: 1025px) and (max-width: 1280px) {
  
    .coolde-logo {
        width: 20%;
    }

  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    .imagemTeste {
      width: 120px;
    }
    .coolde-logo {
        width: 20%;
    }

    .preview-pane {
      padding: 0;
      height: 120px;
      text-align: center;
    }
    
  }

@media only screen and (max-width: 768px) {
    .coolde-logo {
        width: 25%;
    }

    .preview-pane {
      padding: 0;
      height: 190px;
      text-align: center;
    }

    .imagem-front-end {
      display: none;
    }

    .button-div {
      display: inherit;
    }
    
  }